<h2 mat-dialog-title>New item</h2>

<div mat-dialog-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutGap="15px">
        <div fxLayout="row">
            <mat-form-field fxFlex="stretch">
                <textarea matInput placeholder="Your text description" formControlName="message"></textarea>
            </mat-form-field>
        </div>

        <div fxLayout="row">
            <mat-form-field fxFlex="stretch">
                <input matInput placeholder="Name (optional)" formControlName="name">
            </mat-form-field>
        </div>
    </form>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end center">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" [mat-dialog-close]="form.value" [disabled]="form.invalid">Create</button>
</div>